template(`ceilometer_basic_types_template',`
    gen_require(`
		attribute ceilometer_domain;
    ')

	type $1_t, ceilometer_domain;
	type $1_exec_t;

    type $1_unit_file_t;
    systemd_unit_file($1_unit_file_t)

	corenet_all_recvfrom_unlabeled($1_t)
	corenet_all_recvfrom_netlabel($1_t)

    logging_send_syslog_msg($1_t)
    kernel_read_system_state($1_t)

    auth_use_nsswitch($1_t)

')
